.mypy_cache
.ruff_cache
__pycache__
bachelorthesis.egg-info
.idea
venv
checkpoints
.ipynb_checkpoints
bitnet_vae_mnist
src/visualize/plots
todo.txt
python_container.sif
test
runs
exps
get_results.py


bitnet_heatmap_diffusion

src/eval/data
src/eval/MNIST
src/eval/classifier.pth
src/eval/eval_plots